

<div class="auth-wrapper">

  <div class="auth-bg"></div>

  <div class="auth-card">
    <div class="brand">
      <h2>Connexion</h2>
      <p>Plateforme de Certification</p>
    </div>

    <form (ngSubmit)="login()">
      <div class="input-group">
        <label>Email professionnel</label>
        <input [(ngModel)]="username" name="username" type="text" placeholder="Email ou identifiant" required>
      </div>

      <div class="input-group">
        <label>Mot de passe</label>
        <input [(ngModel)]="password" name="password" type="password" placeholder="••••••••" required>
      </div>

      <div *ngIf="errorMessage" class="error-msg">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn-primary">Se connecter</button>
    </form>

    <div class="auth-footer">
      <p>Pas encore de compte ?</p>
      <a routerLink="/signup" class="btn-secondary">Créer un compte</a>
    </div>
  </div>
</div>
