<!--<div class="dashboard-container">


  <aside class="sidebar">

    <div class="logo-section">
      <ng-container *ngIf="configService.config$ | async as config; else loader">
        <img [src]="config.logoSociete || 'LOGO-2026_VF.png'"
             alt="Smartfuture"
             class="main-logo">
      </ng-container>

      <ng-template #loader>
        <img src="LOGO-2026_VF.png" alt="Smartfuture" class="main-logo loading">
      </ng-template>
    </div>
    <nav class="nav-menu">

      <div class="nav-item" routerLink="/candidat/dashboard" routerLinkActive="active">
        <i class="fas fa-th-large"></i> Dashboard
      </div>

      <div class="nav-item" routerLink="/candidat/modules" routerLinkActive="active">
        <i class="fas fa-book"></i> Modules
      </div>

      <div class="nav-item" routerLink="/candidat/mes-inscriptions" routerLinkActive="active">
        <i class="fas fa-book"></i> Mes inscriptions
      </div>

      <div class="nav-item" routerLink="/candidat/reservations" routerLinkActive="active">
        <i class="fas fa-calendar-plus"></i> Réservation session
      </div>

      <div class="nav-item" routerLink="/candidat/parametre" routerLinkActive="active">
        <i class="fas fa-cog"></i> Paramètres
      </div>

    </nav>

    <div class="logout" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Déconnexion
    </div>
  </aside>

  <div class="main-layout">


    <header class="notification-bar">

      <div class="search-container">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Recherche...">
      </div>

      <div class="user-actions">
        <div class="notification-icon">
          <i class="fas fa-bell"></i>
          <span class="dot-notification"></span>
        </div>
        <div class="profile">
          <span class="user-role">{{ currentUser?.prenom }} {{ currentUser?.nom }}</span>

          <div class="avatar-circle">
            <img *ngIf="currentUser?.photo"
                 [src]="currentUser.photo"
                 alt="Profil"
                 class="profile-img">

            <i *ngIf="!currentUser?.photo" class="fas fa-user"></i>
          </div>
          <i class="fas fa-chevron-down arrow-user"></i>
        </div>
      </div>
    </header>

    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
-->

<header class="notification-bar">

  <!-- LIGNE 1 -->
  <div class="top-row">

    <div class="logo-header">
      <ng-container *ngIf="configService.config$ | async as config; else loader">
        <img [src]="config.logoSociete || 'LOGO-2026_VF.png'"
             alt="Smartfuture"
             class="main-logo">
      </ng-container>

      <ng-template #loader>
        <img src="LOGO-2026_VF.png" alt="Smartfuture" class="main-logo loading">
      </ng-template>
    </div>
    <div class="search-container">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Recherche...">
    </div>

    <div class="user-actions">
      <div class="notification-icon">
        <i class="fas fa-bell"></i>
        <span class="dot-notification"></span>
      </div>

      <div class="profile">
        <span class="user-role">{{ currentUser?.prenom }} {{ currentUser?.nom }}</span>

        <div class="avatar-circle">
          <img *ngIf="currentUser?.photo"
               [src]="currentUser.photo"
               alt="Profil"
               class="profile-img">

          <i *ngIf="!currentUser?.photo" class="fas fa-user"></i>
        </div>

        <i class="fas fa-chevron-down arrow-user"></i>
      </div>
    </div>
  </div>

  <!-- LIGNE 2 -->
  <div class="bottom-row">
    <nav class="nav-menu-horizontal">
      <div class="nav-item" routerLink="/candidat/dashboard" routerLinkActive="active">
        <i class="fas fa-th-large"></i> Dashboard
      </div>

      <div class="nav-item" routerLink="/candidat/modules" routerLinkActive="active">
        <i class="fas fa-book"></i> Inscription
      </div>

      <div class="nav-item" routerLink="/candidat/mes-inscriptions" routerLinkActive="active">
        <i class="fas fa-book"></i> Mes inscriptions
      </div>

      <div class="nav-item" routerLink="/candidat/reservations" routerLinkActive="active">
        <i class="fas fa-calendar-plus"></i> Réservation session
      </div>

      <div class="nav-item" routerLink="/candidat/parametre" routerLinkActive="active">
        <i class="fas fa-cog"></i> Paramètres
      </div>
    </nav>

    <div class="logout" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Déconnexion
    </div>
  </div>

</header>

<header class="banniere"
        [style.background-image]="(currentUser?.tenantBanniere || currentUser?.tenant?.banniere) ? 'url(' + (currentUser.tenantBanniere || currentUser.tenant.banniere) + ')' : 'none'">
  <div class="banner-overlay"></div>

  <div class="top-row" style="position: relative; z-index: 2;">
  </div>
</header>
<main class="content-area">
  <router-outlet></router-outlet>
</main>
