<header class="notification-bar">
  <button class="mobile-menu-btn" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>
  <div class="top-row">

    <div class="logo-header">
      <ng-container *ngIf="configService.config$ | async as config; else loader">
        <img [src]="config.logoSociete || 'LOGO-2026_VF.png'"
             alt="Smartfuture"
             class="main-logo">
      </ng-container>

      <ng-template #loader>
        <img src="LOGO-2026_VF.png" alt="Smartfuture" class="main-logo loading">
      </ng-template>
    </div>
    <div class="search-container desktop-only">
      <i class="fas fa-search"></i>

      <input
        type="text"
        [(ngModel)]="searchText"
        (input)="onSearch()"
        (focus)="onSearch()"
        placeholder="Rechercher module, inscription..."
      />

      <div class="search-dropdown" *ngIf="showResults && filteredResults.length > 0">

        <div
          class="search-item"
          *ngFor="let result of filteredResults"
          (click)="selectResult(result.link)">

          <i [class]="result.icon"></i>

          <div class="result-info">
            <span class="result-name">{{ result.name }}</span>
            <span class="result-type">{{ result.type }}</span>
          </div>

        </div>

      </div>
    </div>

    <div class="user-actions">
      <div class="notification-icon">
        <div class="notification-icon" (click)="toggleNotifs()" style="cursor: pointer;">
          <i class="fas fa-bell"></i>
          <ng-container *ngIf="notifService.unreadCount$ | async as count">
            <span class="dot-notification" *ngIf="count > 0">
              {{count}}
            </span>
          </ng-container>
        </div>
        <div class="dropdown-notif-panel shadow" *ngIf="showNotifs">
          <div class="notif-header">Notifications</div>

          <div class="notif-content">
            <div *ngIf="notifications.length === 0" class="no-notif">Aucune notification</div>

            <div *ngFor="let n of notifications"
                 class="notif-item"
                 [class.unread]="!n.lu"
                 (click)="onSelect(n)">
              <button class="btn-delete-notif" (click)="onDelete(n.id); $event.stopPropagation()" title="Supprimer">
                <i class="fas fa-times"></i>
              </button>
              <div class="notif-title">{{ n.titre }}</div>
              <div class="notif-msg">{{ n.message }}</div>
              <div class="notif-date">{{ n.dateCreation | date:'shortTime' }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile">
        <span class="user-role desktop-only">{{ currentUser?.prenom }} {{ currentUser?.nom }}</span>

        <div class="avatar-circle">
          <img *ngIf="currentUser?.photo"
               [src]="currentUser.photo"
               alt="Profil"
               class="profile-img">

          <i *ngIf="!currentUser?.photo" class="fas fa-user"></i>
        </div>

      </div>
    </div>
  </div>

  <!-- LIGNE 2 -->
  <div class="bottom-row desktop-only">
    <nav class="nav-menu-horizontal">
      <div class="nav-item" routerLink="/candidat/dashboard" routerLinkActive="active">
        <i class="fas fa-th-large"></i> Dashboard
      </div>

      <div class="nav-item" routerLink="/candidat/modules" routerLinkActive="active">
        <i class="fas fa-book"></i> Inscription
      </div>

      <div class="nav-item" routerLink="/candidat/mes-inscriptions" routerLinkActive="active">
        <i class="fas fa-book"></i> Mes inscriptions
      </div>

      <div class="nav-item" routerLink="/candidat/MesResultatsExamen" routerLinkActive="active">
        <i class="fas fa-book"></i> Mes résultats des certifications
      </div>


      <div class="nav-item" routerLink="/candidat/parametre" routerLinkActive="active">
        <i class="fas fa-cog"></i> Paramètres
      </div>
    </nav>

    <div class="logout" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Déconnexion
    </div>
  </div>

</header>





<div class="mobile-sidebar" [class.open]="isSidebarVisible">
  <div class="sidebar-header">
    <button class="mobile-menu-btn" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <div class="mobile-search">
    <div class="search-container">
      <i class="fas fa-search"></i>
      <input type="text" [(ngModel)]="searchText"
             (input)="onSearch()" placeholder="Rechercher...">
    </div>
  </div>

  <nav class="mobile-nav">
    <div class="nav-item" routerLink="/candidat/dashboard" routerLinkActive="active">
      <i class="fas fa-th-large"></i> Dashboard
    </div>

    <div class="nav-item" routerLink="/candidat/modules" routerLinkActive="active">
      <i class="fas fa-book"></i> Inscription
    </div>

    <div class="nav-item" routerLink="/candidat/mes-inscriptions" routerLinkActive="active">
      <i class="fas fa-book"></i> Mes inscriptions
    </div>

    <div class="nav-item" routerLink="/candidat/MesResultatsExamen" routerLinkActive="active">
      <i class="fas fa-book"></i> Mes résultats des certifications
    </div>


    <div class="nav-item" routerLink="/candidat/parametre" routerLinkActive="active">
      <i class="fas fa-cog"></i> Paramètres
    </div>
  </nav>

  <div class="logout" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i> Déconnexion
  </div>
</div>








<header class="banniere"
        [style.background-image]="(currentUser?.tenantBanniere || currentUser?.tenant?.banniere) ? 'url(' + (currentUser.tenantBanniere || currentUser.tenant.banniere) + ')' : 'none'">
  <div class="banner-overlay"></div>

  <div class="top-row" style="position: relative; z-index: 2;">
  </div>
</header>
<main class="content-area">
  <router-outlet></router-outlet>
</main>
