<div class="welcome-section">
  <h1>Tableau de bord</h1>
  <p>Bonjour {{ currentUser?.prenom }}, voici un aperçu de votre activité</p>
</div>

<div class="stats-grid">

  <div class="stat-card">
    <div class="stat-icon-wrapper">
      <i class="fas fa-calendar"></i>
    </div>
    <div>
      <p>Sessions d'inscription disponibles</p>
      <h3>{{ stats.sessionsDisponibles }}</h3>
    </div>
  </div>

  <div class="stat-card">
    <div class="stat-icon-wrapper">
      <i class="fas fa-user-check"></i>
    </div>
    <div>
      <p>Mes inscriptions</p>
      <h3>{{ stats.inscriptions }}</h3>
    </div>
  </div>



  <div class="chart-column">

    <div class="stat-card white">

      <div class="chart-card">

        <div class="chart-header">
          <h2 style="color:black;">Candidats GMetrix</h2>
        </div>

        <div class="chart-container">
          <canvas baseChart
                  [data]="circleChartData"
                  [options]="circleChartOptions"
                  [type]="'doughnut'">
          </canvas>
        </div>



      </div>

    </div>

  </div>

  <div class="chart-column certification-chart">

    <div class="chart-top">
      <div>
        <h2>Résultats Certifications</h2>
        <p>Performances des examens</p>
      </div>

      <div class="chart-badge">
        <i class="fas fa-certificate"></i>
      </div>
    </div>

    <div class="mini-stats-grid">

      <div class="mini-stat total">
        <span>Total</span>
        <h3>{{ stats.totalCertifications }}</h3>
      </div>

      <div class="mini-stat success">
        <span>PASS</span>
        <h3>{{ stats.passedCertifications }}</h3>
      </div>

      <div class="mini-stat fail">
        <span>FAIL</span>
        <h3>{{ stats.failedCertifications }}</h3>
      </div>

    </div>

    <div class="chart-container bar-chart">
      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'">
      </canvas>
    </div>

  </div>




</div>
