<div class="admin-container">

  <div class="admin-header">
    <h1>Résultats GMetrix</h1>

    <div class="actions-header  d-flex gap-2">
      <input type="file" (change)="onFileSelected($event); upload()" hidden #fileInput />


      <button class="btn-import" (click)="fileInput.click()" style="padding-right:60px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
        </svg>
        Importer
      </button>

      <button class="btn btn-success d-flex align-items-center gap-2" (click)="downloadTemplate()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1h-10V9zM3 11h10v1h-10v-1zM3 13h10v1h-10v-1zM3 7h10v1h-10V7z"/>
        </svg>
        Exporter Modele
      </button>
    </div>
  </div>

  <div class="filter-section d-flex gap-3 align-items-center">

    <select [(ngModel)]="sessionId"
            (change)="loadScores()"
            class="form-control"
            style="width: 300px;">

      <option [ngValue]="null">-- Toutes les sessions --</option>

      <option *ngFor="let s of sessions" [ngValue]="s.id">
        {{ s.titre }}
      </option>

    </select>


  </div>

  <br>

  <div *ngIf="loading" class="loading-box">
    Chargement...
  </div>

  <div class="table-container" *ngIf="!loading && scores.length">

    <table class="modern-table">
      <thead>
      <tr>
        <th>Candidat</th>
        <th>Session</th>
        <th>Module</th>
        <th>Test</th>
        <th>Score</th>
        <th>%</th>
        <th>Mode</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let s of scores">

        <td>
          <strong>{{ s.candidatNom }}</strong>
          {{ s.candidatPrenom }}
        </td>

        <td>
    <span class="badge-session">
      {{ s.session }}
    </span>
        </td>

        <td>{{ s.module }}</td>

        <td>{{ s.test }}</td>

        <td>
          <span class="badge-score">{{ s.score }}</span>
        </td>

        <td>{{ s.percent }}%</td>

        <td>
          <span class="badge-mode">{{ s.mode }}</span>
        </td>

        <td>{{ s.date | date:'dd/MM/yyyy HH:mm' }}</td>

      </tr>
      </tbody>
    </table>

  </div>

  <div *ngIf="!loading && scores.length === 0" class="empty-box">
    Aucun score trouvé
  </div>


  <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal-box">

      <h2>Résultat import GMetrix</h2>

      <p><b>Total :</b> {{ importResult?.total }}</p>
      <p><b>Succès :</b> {{ importResult?.success }}</p>
      <p><b>Erreurs :</b> {{ importResult?.errors }}</p>

      <hr>

      <div *ngIf="importResult?.errorLines?.length">

        <h4>Erreurs :</h4>

        <ul>
          <li *ngFor="let err of importResult.errorLines">
            {{ err }}
          </li>
        </ul>

      </div>

      <button class="btn btn-primary" (click)="showModal = false">
        Fermer
      </button>

    </div>
  </div>

</div>
