<div class="page-container">

  <div *ngIf="testTermine" class="result-wrapper">
    <div class="result-card">
      <h2>Test terminé</h2>
      <p>Merci pour votre participation </p>
      <p>Votre test a été soumis avec succès.</p>
      <p>Vous recevrez votre résultat prochainement par email.</p>
    </div>
  </div>
  <div class="qcm-container" *ngIf="!testTermine">

    <div class="qcm-header">
      <div class="timer">
        ⏱ {{ formatTime(timeLeft) }}
      </div>

      <div class="progress">
        Question {{ currentIndex + 1 }} / {{ questions.length }}
      </div>
    </div>

    <div class="question-card">
      <h3>Question {{ currentIndex + 1 }}</h3>

      <p class="question-text">
        {{ currentQuestion.texte }}
      </p>

      <div class="answers">
        <div *ngFor="let rep of currentQuestion.reponses"
             (click)="selectAnswer(rep.idReponse, currentQuestion.type === 'choixMultiple')"
             class="answer"
             [class.selected]="selectedAnswers.includes(rep.idReponse)">

          {{ rep.texte }}
        </div>
      </div>

      <div class="actions">
        <button
          (click)="next()"
          [disabled]="!canGoNext()"
        >
          Next ➡️
        </button>
      </div>

    </div>

  </div>

</div>
