<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="dashboard-container">

  <aside class="sidebar" [class.mobile-open]="isSidebarVisible">
    <button class="mobile-menu-btn" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>

    <div class="search-container mobile-only-search">

      <i class="fas fa-search"></i>
      <input
        type="text"
        [(ngModel)]="searchText"
        (input)="onSearch()"
        (focus)="onSearch()"
        placeholder="Recherche ...">

      <div class="search-dropdown" *ngIf="showResults && filteredResults.length > 0">
        <div class="search-item" *ngFor="let result of filteredResults" (click)="selectResult(result.link)">
          <i [class]="result.icon"></i>
          <div class="result-info">
            <span class="result-name">{{ result.name }}</span>
            <span class="result-type">{{ result.type }}</span>
          </div>
        </div>
      </div>

    </div>

    <div class="logo-section">
      <ng-container *ngIf="configService.config$ | async as config; else loader">
        <img [src]="config.logoSociete || 'LOGO-2026_VF.png'"
             alt="Smartfuture"
             class="main-logo">
      </ng-container>

      <ng-template #loader>
        <img src="LOGO-2026_VF.png" alt="Smartfuture" class="main-logo loading">
      </ng-template>
    </div>

    <nav class="nav-menu">

      <div class="nav-item"
           routerLink="/directeur/dashboard"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-th-large"></i>
        <span>Dashboard</span>
      </div>

      <div class="nav-item"
           routerLink="/directeur/administrateurs"
           routerLinkActive="active">
        <i class="fas fa-user-shield"></i>
        <span>Administrateurs</span>
      </div>


      <div class="nav-item"
           routerLink="/directeur/specialites"
           routerLinkActive="active">
        <i class="fas fa-tags"></i>
        <span>Spécialités</span>
      </div>


      <div class="nav-item"
           routerLink="/directeur/candidats"
           routerLinkActive="active">
        <i class="fas fa-user-graduate"></i>
        <span>Candidats</span>
      </div>


      <div class="nav-item"
           routerLink="/directeur/resultats-sessions"
           routerLinkActive="active">
        <i class="fas fa-chart-line"></i>
        <span>Résultats des Sessions Inscriptions</span>
      </div>
      <div class="nav-item"
           routerLink="/directeur/sessionsExamen"
           routerLinkActive="active">
        <i class="fas fa-calendar"></i>
        <span>Session Examen</span>
      </div>

      <div class="nav-item" routerLink="/directeur/listeReservation" routerLinkActive="active">
        <i class="fas fa-calendar-check"></i> <span>Résultat réservation</span>
      </div>

      <div class="nav-item-group">
        <div class="nav-item" (click)="isParcoursOpen = !isParcoursOpen">
          <i class="fas fa-route"></i>
          <span>Parcours</span>
          <i class="fas fa-chevron-down arrow"
             [style.transform]="isParcoursOpen ? 'rotate(180deg)' : 'none'"></i>
        </div>

        <div class="sub-menu" *ngIf="isParcoursOpen">
          <div class="nav-item sub"
               routerLink="/directeur/import-gmetrix"
               routerLinkActive="active"
               (click)="closeParcours()">Import GMetrix</div>
          <div class="nav-item sub"
               routerLink="/directeur/resultatsExamen"
               routerLinkActive="active"
               (click)="closeParcours()">Import Certiport</div>
        </div>
      </div>


      <div class="nav-item" routerLink="/directeur/parametre" routerLinkActive="active">
        <i class="fas fa-cog"></i> <span>Paramètres</span>

      </div>

    </nav>

    <div class="logout" (click)="onLogout()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Déconnexion</span>
    </div>

  </aside>

  <div class="main-layout">
    <header class="notification-bar">

      <button class="mobile-menu-btn" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>



      <div class="logo-wrapper" *ngIf="tenantLogo">
        <img [src]="tenantLogo" [alt]="currentUser?.tenantLogo" class="tenant-logo">
      </div>
      <div class="search-container desktop-only-search">
        <i class="fas fa-search"></i>

        <input
          type="text"
          [(ngModel)]="searchText"
          (input)="onSearch()"
          (focus)="onSearch()"
          placeholder="Recherche..."
        />

        <div class="search-dropdown" *ngIf="showResults && filteredResults.length > 0">

          <div
            class="search-item"
            *ngFor="let result of filteredResults"
            (click)="selectResult(result.link)">

            <i [class]="result.icon"></i>

            <div class="result-info">
              <span class="result-name">{{ result.name }}</span>
              <span class="result-type">{{ result.type }}</span>
            </div>

          </div>

        </div>

      </div>



    <div class="user-actions">
      <div class="notification-container" style="position: relative;">

        <div class="notification-icon" (click)="toggleNotifs()" style="cursor: pointer;">
          <i class="fas fa-bell"></i>
          <ng-container *ngIf="notifService.unreadCount$ | async as count">
            <span class="dot-notification" *ngIf="count > 0">
              {{count}}
            </span>
          </ng-container>
        </div>

        <div class="dropdown-notif-panel shadow" *ngIf="showNotifs">
          <div class="notif-header">Notifications</div>

          <div class="notif-content">
            <div *ngIf="notifications.length === 0" class="no-notif">Aucune notification</div>

            <div *ngFor="let n of notifications"
                 class="notif-item"
                 [class.unread]="!n.lu"
                 (click)="onSelect(n)">
              <button class="btn-delete-notif" (click)="onDelete(n.id); $event.stopPropagation()" title="Supprimer">
                <i class="fas fa-times"></i>
              </button>
              <div class="notif-title">{{ n.titre }}</div>
              <div class="notif-msg">{{ n.message }}</div>
              <div class="notif-date">{{ n.dateCreation | date:'shortTime' }}</div>
            </div>
          </div>
        </div>

      </div>
      <div class="profile">
        <span class="user-role">{{ currentUser?.prenom }} {{ currentUser?.nom }}</span>

        <div class="avatar-circle">
          <img *ngIf="currentUser?.photo"
               [src]="currentUser.photo"
               alt="Profil"
               class="profile-img">

          <i *ngIf="!currentUser?.photo" class="fas fa-user"></i>
        </div>

      </div>


    </div>
    </header>

    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
