
<div class="mes-inscriptions container">

  <div class="recent-section" *ngIf="!loading && recentesInscriptions.length > 0">
    <h3 class="section-title">
      <i class="fas fa-clock" style="color: #666666;"></i> Inscriptions Récentes
    </h3>

    <div class="recent-grid">
      <div class="recent-card" *ngFor="let item of recentesInscriptions">
        <div class="recent-content">
          <div class="info">
            <span class="badge-new">Nouveau</span>
            <h4>{{ item.module?.nom }}</h4>
            <p class="cat-text">{{ item.module?.nomCategorie }}</p>
            <p>Inscrit le : {{ item.dateInscription | date:'dd/MM/yyyy' }}</p>
          </div>


          <div class="action-zone">

            <!-- 🔹 AVEC TEST -->
            <div *ngIf="item.avecTest">

              <div *ngIf="getEpreuve(item.sessionIdValide, item.idModuleTenant) as ep; else boutonRecent">

                <div class="status-mini">
                  <span class="text-passed">
                    <i class="fas fa-check-circle"></i> Test passé
                  </span>



                  <small class="date-mini">
                    le : {{ ep.dhEpreuve | date:'dd/MM/yyyy' }}
                  </small>
                </div>

              </div>

              <ng-template #boutonRecent>
                <div class="status-mini">
                  <small>
                    📅 Inscrit le : {{ item.dateInscription | date:'dd/MM/yyyy' }}
                  </small>
                </div>
                <br>

                <button class="btn-start-recent" (click)="allerAuTest(item)">
                  Lancer <i class="fas fa-play"></i>
                </button>
              </ng-template>

            </div>

            <!-- 🔹 SANS TEST -->
            <div *ngIf="!item.avecTest">
              <span class="status-confirmed">
                <i class="fas fa-lock"></i> Confirmée
              </span>

              <br>


            </div>

          </div>

         </div>





        <div class="gmetrix-box"
             *ngIf="hasGmetrix(item) && getDecision(item) as gm">

          <div class="gmetrix-header">
            <span class="gmetrix-title">GMetrix</span>
          </div>

          <div class="gmetrix-body">

            <!-- SCORE -->
            <div class="gmetrix-line">
              <span>Score</span>
              <strong>{{ gm.scoreGmetrix ?? 'N/A' }} %</strong>
            </div>

            <!-- SEUIL -->
            <div class="gmetrix-line">
              <span>Seuil</span>
              <strong>{{ gm.seuilScore }} %</strong>
            </div>

            <!-- ✅ ÉLIGIBILITÉ (corrigé) -->
            <div class="gmetrix-status"
                 [class.ok]="gm.eligibleGmetrix"
                 [class.fail]="!gm.eligibleGmetrix">

              <i class="fas"
                 [ngClass]="gm.eligibleGmetrix ? 'fa-check-circle' : 'fa-times-circle'">
              </i>

              {{ gm.eligibleGmetrix ? 'Eligible examen final' : 'Non éligible' }}
            </div>
            <br>

            <!-- 🎯 LOGIQUE SESSION (corrigée) -->
            <!--<div *ngIf="gm.eligibleGmetrix">


              <button *ngIf="!gm.sessionDisponible"
                      class="btn-disabled" disabled>
                Pas de session d'examen disponible
              </button>


              <button *ngIf="gm.sessionDisponible && !gm.sessionOuverte"
                      class="btn-disabled" disabled>
                Bientôt disponible
              </button>


              <div *ngIf="gm.sessionOuverte && !gm.dejaReserve">


                <button
                  class="btn-start-recent"
                  (click)="ouvrirFormulaire(gm)">
                  Réserver examen
                </button>

              </div>


              <div *ngIf="gm.dejaReserve" class="reserved-info">
                Réservé le {{ gm.dateReservation | date:'dd/MM/yyyy' }}
              </div>

            </div>-->


            <div *ngIf="gm.eligibleGmetrix">

              <!-- ❌ SI DÉJÀ RÉSERVÉ -->
              <div *ngIf="gm.dejaReserve">
                <div class="reserved-info">
                  Réservé le {{ gm.dateReservation | date:'dd/MM/yyyy' }}
                </div>
              </div>

              <!-- 🔵 SINON (PAS encore réservé) -->
              <div *ngIf="!gm.dejaReserve">

                <button *ngIf="!gm.sessionDisponible"
                        class="btn-disabled" disabled>
                  Pas de session d'examen disponible
                </button>

                <button *ngIf="gm.sessionDisponible && !gm.sessionOuverte"
                        class="btn-disabled" disabled>
                  Bientôt disponible
                </button>

                <div *ngIf="gm.sessionOuverte">
                  <button class="btn-start-recent"
                          (click)="ouvrirFormulaire(gm)">
                    Réserver examen
                  </button>
                </div>

              </div>

            </div>




          </div>
        </div>
    </div>
    <hr class="section-divider">
  </div>

  <h3><i class="fas fa-bookmark"></i> Toutes mes Inscriptions ({{ mesModulesInscrits.length }})</h3>

  <div class="grid" *ngIf="!loading">
    <div class="card" *ngFor="let item of mesModulesInscrits">
      <div class="card-body">
        <h4 class="module-title">{{ item.module?.nom }}</h4>
        <p class="category">{{ item.module?.nomCategorie }}</p>
      </div>



      <div class="card-footer">

        <!-- 🔹 AVEC TEST -->
        <div *ngIf="item.avecTest">

          <div *ngIf="getEpreuve(item.sessionIdValide, item.idModuleTenant) as ep; else boutonDemarrer">

            <div class="status-container" style="text-align: center; padding: 5px;">

              <span class="passed" style="color: #28a745; font-weight: bold;">
                <i class="fas fa-check-circle"></i> Test passé
              </span>

              <small class="test-date" style="color: #666; display:block;">
                📅 Inscrit le : {{ item.dateInscription | date:'dd/MM/yyyy' }}
              </small>

              <small class="test-date" style="color: #666;">
                Test le : {{ ep.dhEpreuve | date:'dd/MM/yyyy HH:mm' }}
              </small>

            </div>

          </div>

          <ng-template #boutonDemarrer>

            <div style="text-align:center; margin-bottom:8px;">
              <small>
                📅 Inscrit le : {{ item.dateInscription | date:'dd/MM/yyyy' }}
              </small>
            </div>

            <button (click)="allerAuTest(item)" class="btn-test">
              <i class="fas fa-play"></i> Démarrer le Test
            </button>

          </ng-template>

        </div>

        <!-- 🔹 SANS TEST -->
        <div *ngIf="!item.avecTest" style="text-align:center;">

          <button class="btn-disabled" disabled>
            <i class="fas fa-lock"></i> Inscription confirmée
          </button>

          <br>

          <small style="color:#666;">
            📅 Inscrit le : {{ item.dateInscription | date:'dd/MM/yyyy' }}
          </small>

        </div>
      </div>






      <div class="gmetrix-box"
           *ngIf="hasGmetrix(item) && getDecision(item) as gm">

        <div class="gmetrix-header">
          <span class="gmetrix-title">GMetrix</span>
        </div>

        <div class="gmetrix-body">

          <!-- SCORE -->
          <div class="gmetrix-line">
            <span>Score</span>
            <strong>{{ gm.scoreGmetrix ?? 'N/A' }} %</strong>
          </div>

          <!-- SEUIL -->
          <div class="gmetrix-line">
            <span>Seuil</span>
            <strong>{{ gm.seuilScore }} %</strong>
          </div>

          <!-- ✅ ÉLIGIBILITÉ (corrigé) -->
          <div class="gmetrix-status"
               [class.ok]="gm.eligibleGmetrix"
               [class.fail]="!gm.eligibleGmetrix">

            <i class="fas"
               [ngClass]="gm.eligibleGmetrix ? 'fa-check-circle' : 'fa-times-circle'">
            </i>

            {{ gm.eligibleGmetrix ? 'Eligible examen final' : 'Non éligible' }}
          </div>
          <br>

          <!-- 🎯 LOGIQUE SESSION (corrigée) -->
          <!--<div *ngIf="gm.eligibleGmetrix">

            <button *ngIf="!gm.sessionDisponible"
                    class="btn-disabled" disabled>
              Pas de session d'examen disponible
            </button>

            <button *ngIf="gm.sessionDisponible && !gm.sessionOuverte"
                    class="btn-disabled" disabled>
              Bientôt disponible
            </button>


            <div *ngIf="gm.sessionOuverte && !gm.dejaReserve">

              <button
                class="btn-start-recent"
                (click)="ouvrirFormulaire(gm)">
                Réserver examen
              </button>





              </div>

            </div>
            <div *ngIf="gm.dejaReserve" class="reserved-info">
              Réservé le {{ gm.dateReservation | date:'dd/MM/yyyy' }}
            </div>

          </div>-->


          <div *ngIf="gm.eligibleGmetrix">

            <!-- ❌ SI DÉJÀ RÉSERVÉ -->
            <div *ngIf="gm.dejaReserve">
              <div class="reserved-info">
                Réservé le {{ gm.dateReservation | date:'dd/MM/yyyy' }}
              </div>
            </div>

            <!-- 🔵 SINON (PAS encore réservé) -->
            <div *ngIf="!gm.dejaReserve">

              <button *ngIf="!gm.sessionDisponible"
                      class="btn-disabled" disabled>
                Pas de session d'examen disponible
              </button>

              <button *ngIf="gm.sessionDisponible && !gm.sessionOuverte"
                      class="btn-disabled" disabled>
                Bientôt disponible
              </button>

              <div *ngIf="gm.sessionOuverte">
                <button class="btn-start-recent"
                        (click)="ouvrirFormulaire(gm)">
                  Réserver examen
                </button>
              </div>

            </div>

          </div>

        </div>
      </div>




    </div>
  </div>

  <div class="modal-overlay" *ngIf="selectedInscriptionId">
    <div class="modal-box">
      <h3>Réserver votre examen</h3>
      <br>

      <label>UserName Certiport</label>
      <br>
      <div *ngIf="usernameCertiport && !isEmailValid()" class="error-msg">
        Vérifier la forme de votre username (email)
      </div>

      <input type="email"
             [(ngModel)]="usernameCertiport"
             [class.input-error]="usernameCertiport && !isEmailValid()"
             placeholder="Entrer votre email" />

      <br><br>

      <small>
        Pas de compte ?
        <a href="https://app.certiport.com/portal/signup?defaultlang=fra" target="_blank">Créer un compte</a>
      </small>
      <br>

      <div class="modal-actions">
        <button class="btn-success"
                [disabled]="!isEmailValid()"
                (click)="confirmerReservation(selectedGm)">
          Confirmer
        </button>

        <button class="btn-cancel" (click)="annulerFormulaire()">Annuler</button>
      </div>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="showSuccessModal">
    <div class="modal-box success-box" style="text-align: center;">
      <div class="icon-circle">
        <i class="fas fa-paper-plane" style="color: #28a745; font-size: 40px;"></i>
      </div>

      <h3 style="margin-top: 15px;">Email envoyé !</h3>

      <p style="color: #666; margin: 15px 0;">
        Un email a été envoyé à votre adresse mail. Il contient les informations détaillées concernant votre session d'examen.
      </p>

      <button class="btn-success" (click)="fermerSuccessModal()" style="width: 100%;">
        J'ai compris
      </button>
    </div>
  </div>





</div>
