<div class="dashboard-container">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="logo-section">
      <ng-container *ngIf="configService.config$ | async as config; else loader">
        <img [src]="config.logoSociete || 'LOGO-2026_VF.png'"
             alt="Smartfuture"
             class="main-logo">
      </ng-container>

      <ng-template #loader>
        <img src="LOGO-2026_VF.png" alt="Smartfuture" class="main-logo loading">
      </ng-template>
    </div>

    <nav class="nav-menu">

      <div class="nav-item" routerLink="/adminTenant/dashboard" routerLinkActive="active">
        <i class="fas fa-th-large"></i> Dashboard
      </div>

      <div class="nav-item" routerLink="/adminTenant/etablissements" routerLinkActive="active">
        <i class="fas fa-school"></i> Etablissements
      </div>

      <div class="nav-item" routerLink="/adminTenant/directeurs" routerLinkActive="active">
        <i class="fas fa-user-tie"></i> Directeurs
      </div>

      <!--<div class="nav-item">
        <i class="fas fa-user-shield"></i> Administrateurs
      </div>

      <div class="nav-item">
        <i class="fas fa-user-graduate"></i> Candidats
      </div>-->



      <div class="nav-item" routerLink="/adminTenant/moduleTenant" routerLinkActive="active">
        <i class="fas fa-book"></i> Catalogue Module
      </div>
      <div class="nav-item" routerLink="/adminTenant/ListeModuleTenant" routerLinkActive="active">
       <i class="fas fa-book"></i> Mes Modules
     </div>

      <div class="nav-item" routerLink="/adminTenant/quotas" routerLinkActive="active">
        <i class="fas fa-percentage"></i> Quotas
      </div>

      <div class="nav-item" routerLink="/adminTenant/session-insc" routerLinkActive="active">
        <i class="fas fa-calendar"></i> Sessions Inscription
      </div>

      <div class="nav-item" routerLink="/adminTenant/session-test" routerLinkActive="active">
        <i class="fas fa-calendar"></i> Sessions Test
      </div>

      <div class="nav-item" routerLink="/adminTenant/parametre" routerLinkActive="active">
        <i class="fas fa-cog"></i> <span>Paramètres</span>
        <i class="fas fa-chevron-down arrow"></i>
      </div>
    </nav>

    <div class="logout" (click)="onLogout()">
      <i class="fas fa-sign-out-alt"></i> <span>Déconnexion</span>
    </div>

  </aside>

  <div class="main-layout">

    <!-- HEADER -->
    <header class="notification-bar">

      <!-- SEARCH -->
      <div class="search-container">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Recherche...">
      </div>

      <!-- USER -->
     <!-- <div class="user-actions">

        <div class="notification-icon">
          <i class="fas fa-bell"></i>
          <span class="dot-notification"></span>
        </div>

        <div class="profile">
          <span class="user-role">
            {{ currentUser?.prenom }} {{ currentUser?.nom }}
          </span>

          <div class="avatar-circle">
            <i class="fas fa-user"></i>
          </div>

          <i class="fas fa-chevron-down arrow-user"></i>
        </div>

      </div>-->

      <div class="user-actions">
        <div class="notification-icon">
          <i class="fas fa-bell"></i>
          <span class="dot-notification"></span>
        </div>
        <div class="profile">
          <span class="user-role">{{ currentUser?.prenom }} {{ currentUser?.nom }}</span>

          <div class="avatar-circle">
            <img *ngIf="currentUser?.photo"
                 [src]="currentUser.photo"
                 alt="Profil"
                 class="profile-img">

            <i *ngIf="!currentUser?.photo" class="fas fa-user"></i>
          </div>
          <i class="fas fa-chevron-down arrow-user"></i>
        </div>
      </div>

    </header>

    <!-- CONTENU DYNAMIQUE -->
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

  </div>


</div>
