<div class="test-container">

  <div class="test-card">
    <div class="test-info">
      <h2>📝 Préparation au Test</h2>

      <p class="module-name">Module : {{ moduleNom }}</p>

      <div class="details">
        <p><strong>Durée :</strong> {{ duree }} minutes</p>
      </div>

      <div class="conseils">
        <h4>📌 Conseils :</h4>
        <ul>
          <li>Assurez-vous d’être dans un endroit calme</li>
          <li>Vérifiez votre connexion internet</li>
          <li>Ne rechargez pas la page pendant le test</li>
          <li>Gérez bien votre temps</li>
        </ul>
      </div>

      <button class="btn-start" (click)="demarrer()">
        🚀 Démarrer maintenant
      </button>
    </div>

    <div class="test-image">
      <img src="/encouragement.png" alt="encouragement">
    </div>

  </div>

</div>
