
<button class="sub-nav-toggle d-lg-none" (click)="isSubNavOpen = !isSubNavOpen">
  <i class="bi" [ngClass]="isSubNavOpen ? 'bi-x-lg' : 'bi-filter-left'"></i>
  Gestion d'établissement
</button>

<nav class="navbar navbar-expand-lg shadow-none py-0 sub-navigation" [class.mobile-open]="isSubNavOpen">
  <div class="container-fluid px-0">
    <div class="nav-container w-100" id="navbarNav">
      <ul class="navbar-nav w-100 flex-nowrap flex-lg-row">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminTenant/etablissement', idEtab, 'dashboard']" routerLinkActive="active">
            <i class="bi bi-grid-1x2 me-2"></i> Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminTenant/etablissement', idEtab, 'candidats']" routerLinkActive="active">
            <i class="bi bi-people me-2"></i> Candidats
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminTenant/etablissement', idEtab, 'administrateurs']" routerLinkActive="active">
            <i class="bi bi-person-badge me-2"></i> Admins
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminTenant/etablissement', idEtab, 'specialites']" routerLinkActive="active">
            <i class="bi bi-mortarkboard me-2"></i> Spécialités
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminTenant/etablissement', idEtab, 'resultats-sessions']" routerLinkActive="active">
            <i class="bi bi-clipboard-data me-2"></i> Résultats des inscriptions
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminTenant/etablissement', idEtab, 'sessionsExamen']" routerLinkActive="active">
            <i class="bi bi-calendar-check me-2"></i> Sessions examen
          </a>
        </li>



        <div class="nav-item-group">
          <div class="nav-item" (click)="isParcoursOpen = !isParcoursOpen">
            <i class="fas fa-route"></i>
            <span>Parcours</span>
            <i class="fas fa-chevron-down arrow"
               [style.transform]="isParcoursOpen ? 'rotate(180deg)' : 'none'"></i>
          </div>
        <div class="sub-menu" *ngIf="isParcoursOpen">
          <div class="nav-item sub"
               [routerLink]="['/adminTenant/etablissement', idEtab, 'import-gmetrix']"
               routerLinkActive="active"
               (click)="closeParcours()"><i class="bi bi-cloud-arrow-up me-2"></i>Import GMetrix</div>
          <div class="nav-item sub"
               [routerLink]="['/adminTenant/etablissement', idEtab, 'resultatsExamen']"
               routerLinkActive="active"
               (click)="closeParcours()"><i class="bi bi-cloud-arrow-up me-2"></i>Import Certiport</div>
        </div>
        </div>




        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/adminTenant/etablissement', idEtab, 'listeReservation']" routerLinkActive="active">
            <i class="bi bi-cloud-arrow-up me-2"></i> Résultat réservation
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-0">
  <router-outlet></router-outlet>
</div>
