<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="title"><i class="bi bi-shield-check"></i> Planning des Certifications</h2>
    <button class="btn btn-primary "
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#sessionModal"
            (click)="resetForm()">
      <i class="bi bi-plus-lg"></i> Nouvelle Session
    </button>
  </div>

  <div class="card border-0 shadow-sm">
    <table class="table">
      <thead class="bg-light">
      <tr>
        <th>Session & Centre</th>
        <th>Date Examen</th>
        <th>État</th>
        <th>Module</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of sessions">
        <td data-label="Session & Centre">
          <div class="fw-bold">{{ s.nomExamen }}</div>
          <small class="text-muted"><i class="bi bi-geo-alt"></i> {{ s.centreExamen }}</small>
        </td>
        <td data-label="Date Examen">{{ s.dateHeureExamen | date:'dd/MM/yyyy HH:mm' }}</td>
        <td data-label="État">
            <span class="badge" [ngClass]="{
              'status-encours': s.etat === 'EN_COURS',
              'status-cloture': s.etat === 'CLOTUREE'
            }">{{ s.etat }}</span>
        </td>

        <td data-label="Module">
          <span class="badge bg-info text-dark" *ngIf="s.module">
            {{ s.module.nom }}
          </span>
          <span class="text-muted" *ngIf="!s.module">Aucun module</span>
        </td>


        <td data-label="Actions"  class="actions">
          <button class="btn-view"
                  data-bs-toggle="modal"
                  data-bs-target="#viewModal"
                  (click)="viewDetails(s)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
                 stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
              <circle cx="12" cy="12" r="3"/>
            </svg>
          </button>
          <button class="btn-edit" *ngIf="s.etat !== 'CLOTUREE'" (click)="onEdit(s)" data-bs-toggle="modal" data-bs-target="#sessionModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2">
              <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
              <path d="M18.5 2.5a2.1 2.1 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
            </svg>
          </button>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


  <div class="modal fade" id="sessionModal" tabindex="-1" aria-labelledby="sessionModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">{{ sessionForm.id ? 'Modifier' : 'Créer' }} une Session</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" id="closeModal"></button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" class="row g-3">
          <div class="col-md-8">
            <label class="form-label">Nom de la session</label>
            <input type="text" class="form-control" [(ngModel)]="sessionForm.nomExamen" name="nom" required>
          </div>
          <div class="col-md-4">
            <label class="form-label">Capacité</label>
            <input type="number" class="form-control" [(ngModel)]="sessionForm.capacite" name="cap" required>
          </div>
          <div class="row g-3 mt-2">


            <div class="col-md-6">
              <label class="form-label">Délai de clôture (Heures)</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-clock-history"></i></span>
                <input type="number"
                       class="form-control"
                       [(ngModel)]="sessionForm.heuresAvantFermeture"
                       name="heuresAvantFermeture"
                       placeholder="Ex: 48">
              </div>
              <small class="text-muted">Nombre d'heures avant l'examen pour fermer les inscriptions.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label">Date de l'examen</label>
            <input type="datetime-local" class="form-control"
                   [(ngModel)]="sessionForm.dateHeureExamen"
                   [min]="minDate"
                   name="dateEx" required>
            <small class="text-muted">La date d'examen doit être programmée au moins pour demain.</small>
          </div>
          <div class="col-md-6">
            <label class="form-label">Centre d'examen</label>
            <input type="text" class="form-control" [(ngModel)]="sessionForm.centreExamen" name="centre" required>
          </div>

          <div class="col-md-6">
            <label class="form-label">Langue de l'examen</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-translate"></i></span>
              <select class="form-select" [(ngModel)]="sessionForm.langue" name="langue">
                <option value="Français">Français</option>
                <option value="Anglais">Anglais</option>
                <option value="Arabe">Arabe</option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">Code d'accès</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-key"></i></span>
              <input type="text"
                     class="form-control"
                     [(ngModel)]="sessionForm.codeAcces"
                     name="codeAcces"
                     placeholder="Ex: CERTIF-2026">
            </div>
          </div>


          <div class="col-md-12 mt-3">
            <div class="row">
              <div class="col-md-6">
                <label class="form-label fw-bold"><i class="bi bi-tag"></i> Catégorie</label>
                <select class="form-select"
                        [(ngModel)]="selectedCategorie"
                        name="catSelect"
                        (change)="onCategorieChange()">
                  <option value="">-- Choisir une catégorie --</option>
                  <option *ngFor="let cat of modulesParCategorie" [value]="cat.nom">
                    {{ cat.nom }}
                  </option>
                </select>
              </div>

              <div class="col-md-6">
                <label class="form-label fw-bold"><i class="bi bi-box-seam"></i> Module</label>
                <select class="form-select"
                        [(ngModel)]="sessionForm.module.idModule"
                        name="modSelect"
                        [disabled]="!selectedCategorie">
                  <option [ngValue]="null">-- Choisir un module --</option>
                  <option *ngFor="let m of modulesFiltres" [ngValue]="m.idModule">
                    {{ m.nom }}
                  </option>
                </select>
              </div>
            </div>

            <div *ngIf="modulesParCategorie.length === 0" class="text-danger small mt-1">
              Aucun module chargé.
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>

        <button type="button"
                class="btn btn-primary"
                (click)="onSave()"
                [disabled]="!f.valid || !sessionForm.module.idModule">
          Enregistrer
        </button>
      </div>


    </div>
  </div>

</div>

<div class="modal fade" id="viewModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content custom-modal">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bold">Détails de la Session</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-4" *ngIf="selectedSession">
        <div class="detail-container">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-primary m-0">{{ selectedSession.nomExamen }}</h2>
            <span class="badge-modern" [ngClass]="selectedSession.etatCurrent">
              {{ selectedSession.etat }}
            </span>
          </div>

          <div class="row g-4">
            <div class="col-md-6">
              <div class="info-box">
                <small>📍 CENTRE D'EXAMEN</small>
                <p>{{ selectedSession.centreExamen }}</p>
              </div>
              <div class="info-box">
                <small>📅 DATE DE L'EXAMEN</small>
                <p>{{ selectedSession.dateHeureExamen | date:'dd/MM/yyyy HH:mm' }}</p>
              </div>
              <div class="info-box">
                <small>🌐 LANGUE</small>
                <p>{{ selectedSession.langue }}</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="info-box highlight">
                <small>👥 CAPACITÉ</small>
                <p>{{ selectedSession.capacite }} places</p>
              </div>

            </div>
          </div>

          <div class="mt-4">
            <h6 class="fw-bold mb-3">Modules Autorisés :</h6>
            <div class="d-flex flex-wrap gap-2">

              <span class="module-pill" *ngIf="selectedSession.module">
                  {{ selectedSession.module?.nom }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
